@font-face {
    font-family: Onest;
    src: url('.././fonts/Onest-Regular.ttf');
}

@font-face {
    font-family: Unbounded;
    src: url('.././fonts/Unbounded-Regular.ttf');
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Onest;
    scroll-behavior: smooth;
    transition: 1s;
    overflow-x: hidden;
}


.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
 }
 
 .fade-in.show {
    opacity: 1;
 }

h1 {
    font-size: 42px;
    margin-top: 50px;
    font-family: Unbounded;
    text-transform: uppercase;
    line-height: 2.5rem;
    text-align: right;
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 28px;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 24px;
    }
}

h2 {
    font-size: 32px;
    margin: 32px 0 16px;
    padding-top: 16px;
}

.shape-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape-divider svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 195px;
}

.shape-divider .shape-fill {
    fill: #BB99FF;
}

.container {
    line-height: 1.75rem;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1030px;
    margin-top: 150px;
}

.header-block {
    display: flex;
    margin: 90px 0;
    justify-content: center;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-block > p {
    width: 60%;
  }

  @media screen and (max-width: 935px) {
    .header-block {
        margin: 40px 0;
    }

    .header-block > p {
        width: 100%;
      }
  }

.digits {
    font-family: Unbounded;
    color: #8f00ff;
}

.link {
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 #BB99FF, 0 3px 0 #BB99FF;
    cursor: pointer;
    transition: 0.4s ease;
}

.link:hover {
    background-color: #BB99FF;
}

.contents {
    padding-inline-start: 40px;
}

.contents li {
    position: relative;
    list-style: none;
    padding: 10px;
}

.contents li::before {
    position: absolute;
    content: attr(data-number);
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    min-width: 40px;
    height: 50px;
    left: -65px;
    top: -6px;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #D9C6F7;
    font-family: Unbounded;
}

.video-heading {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.footnote {
    margin: 40px 0;
    padding: 35px;
    background: rgba( 187, 153, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: -1;
}

.footnote-signature {
    margin-top: 20px;
    text-align: end;
}

.trends-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 32px 0;
}

.trend {
    display: flex;
    flex-direction: column;
    flex-basis: 270px;
    flex: 1;
    align-items: center;
    padding: 10px;
}

.trend-image {
    max-width: 270px;
}

.trend-image:hover {
    transform: scale(1.1);
    transition: 0.5s ease-out;
}

.trend-header {
    font-weight: 600;
    margin: 0;
    line-height: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.trend-description {
    margin: 0;
    font-size: 20px;
    line-height: 1.2rem;
    text-align: center;
}

.image-100 {
    width: 100%;
}

.mt-24 {
    margin-top: 24px;
}

.align-center {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 30px;
}

.uri-image {
    width: 100%;
    margin-top: -70px;
    margin-bottom: -70px;
}

@media screen and (max-width: 990px) {
    .uri-image {
        max-width: 100%;
        margin-top: -40px;
        margin-bottom: -40px;
    }   
}

.example-block {
    margin: 40px 0;
}

.example-block p {
    font-weight: bold;
    margin-bottom: 10px;
}

.uri-example-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.application-blocks {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.application-block {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.application-block-text {
    width: 48%;
}

.application-block-image {
    width: 48%;
}

@media screen and (max-width: 900px) {
    .application-block-text {
        flex: 0 0 100%;
        order: -1;
    }

    .application-block-image {
        flex: 0 0 100%;
    }
}

.bold {
    font-weight: bold;
}

.list {
    margin: 32px 0;
    padding: 0;
}

.tag {
    color: #ff055c;
}

.code {
    display: block;
    word-break: break-word;
}

pre {
    white-space: pre-wrap;
}

pre code {
    word-break: break-word;
    word-wrap: break-word;
    padding: 0;
    font-size: inherit;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.code-meta {
    color: rgb(104,104,91);
}

pre {
    margin-top: -50px;
    margin-bottom: -100px;
    font-size: 20px;
    line-height: 1.5rem;
    max-width: 100%;
}

.list li {
    margin-left: 35px;
}

.list > span {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.author {
    text-align: right;
    font-size: 1.2em;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #bcbabf;
  }
  
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #bcbabf;
    border-radius: 20px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #6e6d70;
  }
