:root {
    --bg-color: #ffffff;
    --text-color: #262626;
    --slider-title-color: #0d0925;
    --slider-text-color: #262626;
    --slider-shadow-color: rgba(34, 35, 58, 0.2);
    --code-tag-color: rgb(0,22,142);
    --code-string-color: rgb(3,106,7);
    --glitch-shadow-color: #2e234f;
}

html {
    color: var(--text-color);
}

.sidebar {
    background: var(--bg-color);
}

.sidebar__close {
    filter: invert(1);
}

.main-heading::after, .main-heading::before {
    text-shadow: -1px 0 var(--glitch-shadow-color);
}

.blog-slider {
    color: var(--text-color);
    background: var(--bg-color);
    box-shadow: 0px 14px 80px var(--slider-shadow-color)
}

.blog-slider__title {
    color: var(--slider-title-color);
}

.blog-slider__text {
    color: var(--slider-text-color);
}

.layout-block__tag {
    color: var(--code-tag-color);
}

.layout-block__string {
    color: var(--code-string-color);
}

.icon__img[data-theme="dark"] {
    display: block;
}

.icon__img[data-theme="light"] {
    display: none;
}