.components-block {
  &__heading {
    margin: 32px 0 16px;
  }

  &__image {
    width: 100%;
    margin-top: -70px;
    margin-bottom: -70px;
  }

  &__example {
    margin: 40px 0;

    &-text {
      margin-bottom: 10px;

      font-weight: bold;
    }

    &-image {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__footnote {
    margin: 40px 0;
  }
}

@media screen and (max-width: 990px) {
  .components-block {
    &__image {
      max-width: 100%;
      margin-top: -40px;
      margin-bottom: -40px;
    }
  }   
}