.contents {
  padding-inline-start: 40px;

  &__item {
    position: relative;

    padding: 10px 15px;

    list-style: none;

    &::before {
      position: absolute;
      top: -6px;
      left: -65px;

      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 40px;
      height: 50px;
      padding: 10px 15px;

      color: #D9C6F7;
      font-weight: bold;
      font-size: 40px;
      font-family: Unbounded, Verdana, Geneva, Tahoma, sans-serif;
      line-height: 50px;

      content: attr(data-number);
    }
  }
}