.layout-block {
  &__heading {
    margin: 32px 0 16px;
  }

  &__list-heading {
    margin: 32px 0;
    padding: 0;

    font-weight: bold;
    font-size: 28px;
    text-align: center;
  }

  &__code-example {
    max-width: 100%;
    margin-top: -50px;
    margin-bottom: -100px;

    font-size: 20px;
    line-height: 1.5rem;
    white-space: pre-wrap;
  }

  &__meta {
    color: rgb(104 104 91);
  }

  &__tag {
    &_red {
      color: #ff055c;
    }
  }

  &__code {
    display: block;
    padding: 0;
    border: 0;
    border-radius: 0;

    font-size: inherit;
    word-wrap: break-word;
    word-break: break-word;

    background-color: transparent;
  }

  &__image {
    width: 100%;
  }

  &__footnote {
    margin: 40px 0;
  }
}