@font-face {
  font-family: Onest;
  src: url('../../public/fonts/Onest-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Unbounded;
  src: url('../../public/fonts/Unbounded-Regular.ttf');
  font-display: swap;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-size: 20px;
  font-family: Onest, Verdana, Geneva, Tahoma, sans-serif;

  transition: 1s;
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;

  transition: opacity 1s ease;
}

.fade-in.show {
  opacity: 1;
}