.icon {
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  transition: 0.5s;

  &:hover {
    opacity: 0.75;
  }

  &__img {
    cursor: pointer;
  }

  &_theme {
    right: 10px;
    bottom: 20px;
  }

  &_bookmark {
    right: 10px;
    bottom: 90px;

    transform: translateY(-2000px);
    opacity: 0;

    transition: opacity 0.8s, transform 0.8s;
  }

  &_shadow-dark {
    background: linear-gradient(145deg, #130427, #1b1127);
    box-shadow: 4px 4px 10px #130427,
      -4px -4px 10px #2b134e, inset 5px 5px 4px #2b134e,
      inset -3px -3px 2px #24282c;
  }

  &_shadow-light {
    background: white;
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #fff,
    inset 7px 7px 3px rgb(209 217 230 / 35%),
    inset -11px -11px 3px rgb(255 255 255 / 30%);
  }

  &_visible {
    transform: translateY(0);
    opacity: 1; 
  }
}

@media screen and (max-width: 762px) {
  .icon {
    right: 10px;

    width: 40px;
    height: 40px;

    &:hover {
      opacity: 1;
    }

    &_shadow-light {
      box-shadow: none;
    }

    &_shadow-dark {
      box-shadow: none;
    }

    &__img {
      width: 22px;
      height: 22px;
    }

    &_theme {
      bottom: 10px;
    }

    &_bookmark {
      bottom: 60px;
    }
  }
}