@keyframes change {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(1.4);
  }
}
  
.change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
}